@use "../utils/mixins";
@use "../utils/variables";

section {
    padding-top: variables.$spacing-y;
    padding-bottom: variables.$spacing-y;
    flex-grow: 1;

    &.wide {
        width: 100%;
    }

    .title {
        margin-bottom: variables.$spacing-y;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid;
        border-color: variables.$gray;
        border-color: var(--gray, variables.$gray);
        break-after: avoid;
    }
}
