---
layout: base
---

<main class="main">
    <div class="container utl-space-between">
        <section id="section-education">
            <h2 class="title">{{ strings.titles.education }}</h2>
            {% set entries = collections.education %}
            {% set microformat = "h-event p-education" %}
            {% include "entrylist.njk" %}
        </section>

        <section id="section-experience">
            <h2 class="title">{{ strings.titles.experience }}</h2>
            {% set entries = collections.work %}
            {% set microformat = "h-event p-experience" %}
            {% include "entrylist.njk" %}
        </section>

        {% if repositories.length %}
            <section id="section-oss">
                <h2 class="title">{{ strings.titles.open_source }}</h2>
                {% include "repositories.njk" %}
            </section>
        {% endif %}

        {% for entry in collections.custom %}
            <section class="{% if entry.data.wide %}wide{% endif %}" id="{{ ['section-', entry.data.title | slugify] | join }}">
                <h2 class="title">{{ entry.data.title }}</h2>
                {% if entry.templateContent %}
                    <div class="entry__content markdown">
                        {{ entry.templateContent | safe }}
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    </div>
</main>
